@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  scale: 1.2;
  transition: 100ms linear
}

* {
  box-sizing: border-box;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  padding: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-to-top-button.visible {
  display: block;
}

.scroll-to-top-button:hover {
  scale: 1.2;
}
